* {
  font-family: 'Roboto', sans-serif;
}
/* body{
  height: 100vh;
} */
body,footer{
  background-color: #EDF2F4;
}
/* footer{
  background-color: #8D99AE;
} */

h1{
  color: #2B2D42!important;
}
.text-secondary{
  color: #508991!important;
}
/* .border-muted{
  background-color: #40798C!important;

} */

a {
  color: #EF233C;
}
a:hover{
  color: #D90429;
}

img {
  width: 100%
}
.social-image {
  width: 40px;
  transition: transform .5s;
}
.social-image:hover {
  transform: scale(1.2);
}

.img-portfolio {
  height: 13rem;
  padding: .3125em;
}

.tech-svg {
  height: 50px;
  width: 50px;
}

.arrow {
  width: 40px;
}

.mode-svg {
  width: 40px;
}

#footerNav {
  height: 120px;
}

@media (min-width: 992px){
  #footerNav {
    height: 80px;
  }
}