/* icon animation */

@keyframes rotate {
    25% {
        transform: rotate(90deg) scale(1.2);
    }
    50% {
        transform: rotate(180deg) scale(1.4);

    }
    75% {
        transform: rotate(270deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
 
    }
}

/* colors */
.darker-bg {
    background-color: #E9ECEF;
}

.nav-dark {
    background-color: #212529;
}

/* Header styles */

.cover-image {
    height: 100vh;
}

.lead {
    font-size: 1.4rem;
}

.headshot {
    height: 70vh;
    background-image: url('../images/rsz_bert-witzel.jpg'); 
    /* Photo by Mitchell Luo from Unsplash */
    background-size: cover;
    background-position: top center;
} 
.head-contain {
    padding-top: 4rem!important;
}

/* Images */

.social-image {
    width: 30px;
    height: 30px;
}
.social-image:hover {
    animation: rotate .3s;
}

.img-portfolio {
    height: 16rem;
}

.tech-svg {
    height: 50px;
    width: 50px;
}

.arrow {
    width: 40px;
    /* height: 60px; */
}

/* form styles */

.form-border {
    border: 4px solid;
    border-radius: 10px;
}

.cursor {
    cursor: pointer;
}

/* body background color */

.body-background {
    background-color: #0d1117; 
}

/* quote styles from Jorge Epunan https://codepen.io/juanbrujo/pen/BIvKs*/

blockquote p {
    font-family: 'Roboto Slab', serif;
    /* font-size: 1.4rem; */
}

blockquote:before {
    content: '\201C';
    position: absolute;
    top: -15px;
    left: 5px;
    font-family: Arial, sans-serif;
    font-size: 82px;
    font-style: normal;
    margin-left: 5px;
}

blockquote:after {
    content: '\201C';
    position: absolute;
    bottom: -35px;
    right: 5px;
    font-family: Arial, sans-serif;
    font-size: 82px;
    font-style: normal;
    margin-right: 10px;
}
.footer {
    font-size: 1rem;
} 

.text-hover:hover {
    color: white;
}

/* Translate styles */

.overflow-hidden {
    overflow-x: hidden;
}

.translate {
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.translate.show {
    transform: translateX(0);
  }

/* media queries */

@media (min-height: 420px) {
    .container-title {
        height: 24vh;
    }
}

@media (max-width: 992px){
    .p-about {
        margin-top: 1rem;
    }
}

@media (max-width: 576px) {
    .headline {
        font-size: 3.8rem;
    }
}
@media (max-width: 768px) {
    .quote {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}
  